@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&family=Dosis:wght@600;700&display=swap');

$easing: cubic-bezier(0.19, 1, 0.22, 1);

body {
	margin: 0;
	background-color: var(--background);
	transition: background-color 1s $easing;
}
body,
body:fullscreen::backdrop {
	background-color: var(--background);
}

button,
body,
input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Dosis', sans-serif;
	line-height: 1em;
	font-weight: 700;
	letter-spacing: 1.2px;
}

pre {
	margin: 0;
	font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}

@mixin Wheel($size) {
	line-height: $size;
	font-size: $size;
	height: $size;
}

.polytronome {
	display: flex;
	position: relative;
	align-items: flex-start;
	color: var(--accent);
	user-select: none;
	overflow: hidden;
	max-height: 100vh;

	@import 'header';
	@import 'clicks';
	@import 'layers';
	@import 'menu';
	@import 'tutorial';

	.spacer {
		min-width: 300px;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding-top: 10vh;
		transition: padding 1s $easing;
	}

	button {
		color: var(--accent);
		background: var(--buttons);
		width: auto;
		margin: 5px 5px 0 0;
		padding: 7px 30px;
		border: 2px solid transparent;
		border-radius: 2em;
		font-size: 14px;
		font-weight: 700;
		cursor: pointer;
		white-space: pre;
		outline: none;
		transition: background-color 0.3s, color 0.3s, border 0.1s;

		svg {
			width: 16px !important;
		}

		&:active,
		&:focus,
		&:hover {
			border-color: var(--dim);
		}

		&.off {
			opacity: 0.5;
			cursor: initial;
		}

		&.suppr-btn {
			background: 0;
			border: 0;
			color: var(--accent);
			font-size: 1em;
			padding: 10px;
		}
	}

	.immovable_wheel {
		position: relative;
		overflow: hidden;
		user-select: none;
		min-width: 80px;
		padding: 0 5px 0 30px;
		border-radius: 10px;
		transition: opacity 0.2s, background-color 0.2s;

		@include Wheel(50px);

		&:hover {
			background-color: var(--buttons);
		}

		.arrows {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: -25px;
			height: 50px;
			z-index: 2;

			svg {
				width: 16px;
				padding: 0 4px;
				text-align: center;
				cursor: pointer;
				opacity: 0.2;
				transition: opacity 0.2s;

				&:first-child {
					transform: rotate(180deg);
				}

				&:hover {
					opacity: 0.5;
				}

				&:active {
					opacity: 1;
				}
			}
		}

		.wheel {
			cursor: grab;
			touch-action: none;
			text-align: center;
			font-weight: 900;
		}
	}

	.bottom-buttons {
		display: flex;
		justify-content: center;
		text-align: center;

		svg {
			margin-right: 10px;
		}

		.start {
			width: 300px;
		}
	}

	/*
	KEYLOG
	*/

	.keylog {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		bottom: 2em;
		right: 2em;
		text-align: right;
		z-index: 7;

		code {
			background-color: var(--dim);
			border-radius: 20px;
			padding: 2px 10px;
			margin-left: 20px;
		}

		small {
			margin: 5px;
		}
	}

	/*
	EASY MODE
	*/

	&.easy {
		.header {
			min-height: 140px;
		}

		main {
			padding-top: 15vh;
		}

		.layers-table-wrap {
			justify-content: center;

			.layers-table {
				flex-direction: row;
				margin: 60px 0;
				margin-left: 0;
				width: auto;
			}

			.ls-row {
				background-color: transparent;
				padding: 0px;

				&.off {
					display: flex;
				}

				.immovable_wheel {
					width: 80px;
					margin: 0;
				}
			}
		}

		.ls-add {
			display: grid;
			place-items: center;
			width: 80px;
			cursor: pointer;
			border: 2px dashed transparent;
			border-radius: 10px;

			&:hover {
				border-color: var(--accent);
			}
		}

		.ls-buttons {
			width: auto;
			margin-left: 30px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;

			.randomize {
				width: 120px;
			}
		}
	}

	/*
	PERFORMANCE
	*/

	&.performance * {
		transition: none !important;
	}
}

@import 'responsive';
