@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&family=Dosis:wght@600;700&display=swap');

$easing: cubic-bezier(0.19, 1, 0.22, 1);

body {
	background-color: black;
	margin: 0;
	transition: background-color 1s $easing;
	overflow-x: hidden;
}
body,
body:fullscreen::backdrop {
	background: var(--background);
}

button,
body,
input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Dosis', sans-serif;
	line-height: 1em;
	font-weight: 700;
	letter-spacing: 1.2px;
}

pre {
	margin: 0;
	font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}

.polytronome {
	position: relative;
	display: grid;
	grid-template-columns: 0.1fr 1fr 0.1fr;
	align-items: flex-start;
	min-height: 1000px;
	padding-top: 10vh;
	width: 100%;
	margin: auto;
	color: var(--accent);
	user-select: none;
	transition: padding 1s $easing;

	@import 'header';
	@import 'clicks';
	@import 'layers';

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
	}

	button {
		color: var(--accent);
		background: var(--buttons);
		width: auto;
		margin: 5px 5px 0 0;
		padding: 7px 30px;
		border: 2px solid transparent;
		border-radius: 2em;
		font-size: 14px;
		font-weight: 700;
		cursor: pointer;
		white-space: pre;
		outline: none;
		transition: background-color 0.3s, color 0.3s, border 0.1s;

		svg {
			width: 16px;
			margin-right: 10px;
		}

		&:hover {
			border-color: var(--dim);
		}

		&.off {
			opacity: 0.5;
			cursor: initial;
		}

		&.suppr-btn {
			background: 0;
			border: 0;
			color: var(--accent);
			font-size: 1em;
			padding: 10px;
		}
	}

	.immovable_wheel {
		overflow: hidden;
		user-select: none;
		line-height: 50px;
		font-size: 50px;
		height: 50px;
		min-width: 80px;
		padding: 2px 5px 2px 30px;
		border-radius: 10px;
		transition: opacity 0.2s, background-color 0.2s;

		&:hover {
			background-color: var(--dimmer);
		}

		.arrows {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: -25px;
			height: 50px;
			z-index: 2;

			svg {
				width: 16px;
				padding: 0 4px;
				text-align: center;
				font-size: 15px;
				line-height: 20px;
				cursor: pointer;
				border-radius: 5px;
				opacity: 0.2;
				transition: opacity 0.2s;

				&:first-child {
					transform: rotate(180deg);
				}

				&:hover {
					opacity: 0.5;
				}

				&:active {
					opacity: 1;
				}
			}
		}

		.wheel {
			cursor: grab;
			touch-action: none;
			text-align: center;
			font-weight: 900;
		}
	}

	.bottom-buttons {
		display: flex;
		justify-content: center;
		text-align: center;
		margin-top: 40px;

		.start {
			width: 300px;
		}
	}

	aside {
		position: fixed;
		width: 320px;
		left: -320px;
		top: 15vh;
		text-align: center;

		> button {
			margin: 40px auto;
		}

		.menu {
			display: flex;
			flex-direction: column;

			button {
				text-align: left;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: transparent;
				font-size: inherit;

				.optionState {
					background-color: var(--dim);
					border-radius: 8px;
					padding: 5px 10px;
				}
			}

			.theme-list {
				display: flex;
				flex-wrap: wrap;
				width: 80%;
				margin: auto;

				span {
					width: auto;
					font-size: 12px;
					padding: 5px 15px;
					border-radius: 15px;
					margin: 3px;
					transition: border-radius 0.4s;
					cursor: pointer;
				}
			}
		}

		.links {
			display: flex;
			flex-direction: column;
			padding-left: 30px;
			margin-top: 5em;

			a {
				color: var(--accent);
				text-decoration: none;
				text-align: left;
				margin: 10px 0;
			}
		}
	}

	.settings-drag {
		border-radius: 20px;
		height: 20vh;
		width: 60px;
		cursor: ew-resize;
		touch-action: none;
		color: var(--accent);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.4s $easing;

		span {
			border-left: 8px dotted;
			height: 60px;
		}
	}

	/*
	EASY MODE
	*/

	&.easy {
		padding-top: 15vh;

		.layers-table-wrap {
			justify-content: center;

			.layers-table {
				flex-direction: row;
				margin: 40px 0;
				margin-left: 0;
				width: auto;
			}

			.ls-row {
				padding: 10px;

				.immovable_wheel {
					width: 80px;
					margin: 0;
				}
			}
		}

		.ls-add {
			display: grid;
			place-items: center;
			width: 80px;
			cursor: pointer;
			border: 2px dashed transparent;
			border-radius: 10px;

			&:hover {
				border-color: var(--accent);
			}
		}

		.ls-buttons {
			width: auto;
			margin-left: 30px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;

			.randomize {
				width: 120px;
			}
		}
	}

	/*
	PERFORMANCE
	*/

	&.performance {
		button,
		.clicks,
		.theme-preview > div,
		.theme-preview > div .tp-mini-click,
		.setting.sound .css-waves svg path,
		.setting .range-wrap .inner-range,
		.click.on,
		.click,
		.wheel {
			transition: none;
		}
	}

	/*
	MOBILE
	*/

	&.mobile {
	}
}

@import 'responsive';
