.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	width: 90%;
	max-width: 1000px;

	.logo {
		margin: 20px;
		display: flex;
		align-items: center;

		svg {
			transform: scale(0.8);
			margin-right: 10px;
		}

		h1 {
			font-size: 28px;
			margin: 0;
			margin-bottom: 5px;
			color: var(--clicks-on);
		}

		p {
			font-size: 14px;
			margin: 0;
		}
	}

	/*
	TUTORIAL
	*/

	.tutorial {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;

		.dialog {
			margin-right: 40px;
			width: 300px;
		}

		.interactions {
			display: flex;
			flex-direction: column;
		}
	}

	/*
	TEMPO
	*/

	.tempo {
		display: flex;
		align-items: center;

		.immovable_wheel {
			margin-right: 10px;
			padding-right: 15px;
		}

		.tap {
			width: 120px;
			margin: 0%;
		}

		.tempo-buttons {
			display: flex;
		}
	}
}
