.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	font-size: 30px;
	width: 90%;

	.logo {
		margin: 20px;
		padding: 20px;
		cursor: pointer;
		z-index: 20;
	}

	.tempo {
		display: flex;
		align-items: center;

		.immovable_wheel {
			line-height: 50px;
			font-size: 50px;
			height: 50px;
			margin-right: 10px;
			padding-right: 15px;
		}

		.tap {
			width: 120px;
			margin: 0%;
		}

		.tempo-buttons {
			display: flex;
		}
	}
}
