.layers-table-wrap {
	display: flex;
	align-items: center;

	.ls-buttons {
		width: 100px;
	}
}

.layers-table {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 40px 0;

	.ls-row {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--dimmer);
		border: 2px solid transparent;
		justify-content: space-evenly;
		max-width: 700px;
		margin: 20px;
		border-radius: 20px;
		padding: 10px 30px;
		transition: opacity 0.2s, filter 0.2s, background-color 0.3s;

		> div {
			margin: 20px 0;
		}

		&.selected {
			border: 2px solid var(--accent);
		}

		&.off {
			opacity: 0.4;
			filter: grayscale(0.6);
		}
	}

	.ls-type {
		min-width: 120px;
		text-align: center;

		svg {
			width: 60px;
			height: 60px;
			padding: 0 20px;
			border-radius: 8px;
			cursor: pointer;
			transition: background-color 0.3s;

			path {
				transition: stroke-dashoffset 1s;
			}

			&:hover {
				background-color: var(--buttons);
			}
		}
	}

	.notes-wrap {
		display: flex;
		align-items: center;
		position: relative;

		pre.octave {
			position: absolute;
			right: -8px;
			bottom: -4px;
			padding: 2px 8px;
			border-radius: 8px;
			background-color: transparent;
			transition: background-color 0.2s;
		}

		&:hover pre.octave {
			background-color: var(--dimmer);
		}

		.immovable_wheel {
			text-align: left;
		}
	}

	.note-volume {
		display: flex;
		align-items: center;

		.mute {
			border-radius: 5px;
			padding: 5px;
			margin-right: 5px;
			cursor: pointer;
			width: 24px;
		}

		.range-wrap {
			display: inline-block;
			width: 100px;
			height: 15px;
			background-color: var(--dim);
			border-radius: 5px;
			overflow: hidden;
			cursor: pointer;
			user-select: none;
			transition: opacity 0.1s;

			&.muted {
				opacity: 0.1;
				filter: grayscale(1);
			}

			.inner-range {
				background-color: var(--accent);
				height: 20px;
			}
		}
	}

	.note-length {
		width: 100%;
		max-width: 120px;

		svg {
			width: 15px;
			margin-right: 10px;
		}

		button {
			margin: 4px 0;
			padding: 3px 20px;
			text-align: left;
			background-color: transparent;

			&:hover {
				opacity: 1;
				background-color: var(--buttons);
				border-color: transparent;
			}
		}
	}
}
