@media only screen and (min-width: 1400px) {
	.polytronome {
		&.easy .clicks {
			min-width: 1100px;
		}
	}
}

@media only screen and (max-width: 1400px) {
	.polytronome {
		.layers-table-wrap {
			overflow: auto;

			.layers-table {
				width: auto;
				flex-direction: column;

				.ls-row {
					flex-direction: row;
					margin: 10px;
					padding: 0 20px;

					> div {
						margin: 15px 0;
					}
				}
			}
		}

		&.easy {
			.layers-table-wrap .layers-table {
				flex-wrap: wrap;
				justify-content: flex-start;
				justify-content: center;
				width: 70vw;
				margin: 60px 20px;

				.ls-row {
					padding: 0;
				}
			}
		}

		.menu,
		main {
			padding-top: 5vh;
		}

		.menu {
			> button {
				margin-left: 20px;
			}
			aside {
				margin: 20px;
			}
		}

		aside.closed {
			top: 15vh;
		}
	}
}

@media screen and (max-height: 1100px), screen and (max-height: 780px) {
	.polytronome {
		main {
			padding-top: 5vh;
		}
		.menu {
			padding-top: 1vh;
		}
	}
}

@media only screen and (max-width: 880px) {
	.polytronome {
		.header {
			flex-direction: column;
			height: 160px;

			.logo {
				height: 60px;
			}
		}

		.immovable_wheel {
			line-height: 40px;
			font-size: 40px;
			height: 40px;
			min-width: 60px;

			.arrows {
				height: 40px;

				svg:first-child {
					transform: rotate(180deg) translateY(-2px);
				}
			}
		}

		&.easy main {
			padding-top: 5vh;
		}

		.layers-table-wrap .layers-table {
			margin: 0;

			.ls-row > div {
				margin: 12px 0;
			}

			.ls-type {
				min-width: 90px;
				svg {
					height: 50px;
					width: 50px;
					padding: 0 10px;
				}
			}

			.note-volume {
				flex-direction: column;

				.mute {
					padding: 10px;
				}

				.range-wrap {
					height: 10px;
					width: 60px;
				}
			}
		}

		.bottom-buttons {
			margin-top: 20px;
			.start {
				width: 200px;
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	.polytronome {
		button {
			padding: 5px 20px;
			font-size: 11px;
		}

		main {
			padding-top: 5vh;
			width: 100vw;
		}

		.clicks {
			width: calc(100% - 40px);
			margin: 20px;

			.layers .click-row {
				height: 30px;

				.click {
					margin: 2px;

					&.off {
						margin: 2px 0;
					}
				}
			}

			.segment {
				.click-row .click {
					height: 60px;
				}
			}
		}

		.layers-table-wrap .layers-table {
			.ls-type {
				min-width: 80px;
				svg {
					height: 45px;
					width: 45px;
					padding: 0 10px;
				}
			}
		}

		&.easy {
			.layers-table-wrap .layers-table {
				width: 90vw;
				margin: 0;
				margin-bottom: 40px;
			}
		}
	}
}
