@media screen and (max-height: 1100px), screen and (max-height: 780px) {
	.polytronome {
		main {
			padding-top: 5vh;
		}
		.menu {
			padding-top: 1vh;
		}
	}
}

@media only screen and (max-height: 900px) {
	.polytronome {
		.immovable_wheel {
			line-height: 45px;
			font-size: 45px;
			height: 45px;
			width: 80px;
		}

		.header {
			margin-bottom: 20px;
		}

		.layers-table-wrap {
			max-width: 1000px;
			overflow-x: auto;

			.layers-table {
				max-width: 100%;
				overflow-x: auto;
				flex-wrap: nowrap;

				margin: 20px;

				.ls-row {
					display: grid;
					grid-template-columns: 1fr 1fr;

					> div {
						margin: 15px 0;
					}
				}

				.ls-type svg {
					width: 55px;
					height: 55px;
					padding: 0 15px;
				}
			}
		}

		aside .links {
			margin-top: 30px;
		}

		.bottom-buttons {
			margin-top: 0;
		}

		&.easy .layers-table-wrap .layers-table .ls-row {
			display: flex;
		}
	}
}

@media only screen and (max-width: 768px) {
	.polytronome {
		.header {
			.tempo .tap {
				width: 80px;
				padding: 7px 0;
			}
		}

		.settings-drag {
			padding-top: 0;
			width: 30px;
			justify-content: flex-end;
		}

		.immovable_wheel {
			height: 40px;
			line-height: 40px;
			font-size: 40px;
			min-width: 60px;

			.arrows {
				height: 40px;
			}
		}

		.layers-table {
			.ls-row > div {
				margin: 5px;
			}
			.note-length button {
				padding: 3px 10px;
			}

			.ls-type {
				min-width: 70px;

				svg {
					height: 50px;
					width: 50px;
					padding: 0 10px;
				}
			}

			.note-volume .range-wrap {
				width: 70px;
			}
		}

		aside {
			width: 300px;
			top: 15vh;
		}

		.click-row .click {
			margin: 3px;
		}

		&.easy {
			.layers-table-wrap .layers-table {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}

@media only screen and (max-width: 420px) {
	.polytronome {
		.header {
			margin-bottom: 0;

			// .tempo {
			// 	flex-direction: column;

			// 	.tap {
			// 		margin-top: 10px;
			// 	}
			// }
		}

		.click-row {
			height: 30px;
			.click {
				margin: 2px;
			}
		}

		.immovable_wheel {
			height: 30px;
			line-height: 30px;
			font-size: 30px;
		}

		&.easy {
			.layers-table-wrap .layers-table {
				display: grid;
				// grid-template-columns: 1fr 1fr;
			}

			.bottom-buttons {
				margin-top: 0;
			}
		}
	}
}
