:root {
	--accent: white;
	--background: #282c34;
	--dim: #00000033;
}

.App {
	background-color: var(--background);
	color: var(--accent);
	min-height: 100vh;
	display: grid;
	grid-template-columns: 65% 35%;
	grid-template-rows: 60% 40%;
	font-size: calc(10px + 2vmin);
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	user-select: none;

	button {
		color: var(--accent);
		background: var(--dim);
		padding: 7px 30px;
		border: none;
		border-radius: 2em;
		font-size: 16px;
		font-weight: bold;
		transition: all 0.2s;
		cursor: pointer;
		outline: none;

		&:hover {
			filter: brightness(0.8);
		}

		&:active {
			filter: brightness(0.6);
		}

		&.off {
			opacity: 0;
			cursor: initial;
		}

		&.suppr-btn {
			background: 0;
			border: 0;
			color: var(--accent);
			font-size: 1em;
			padding: 10px;
		}
	}

	h3 {
		margin-top: 0;
		font-size: 30px;
	}

	h4 {
		font-size: 20px;
		margin: 10px 0;
	}

	.principal {
		display: flex;
		align-items: center;
		padding: 2em;

		.sticky {
			width: calc(100% - 4em);
		}

		.title {
			margin: 1em 0;
			font-size: 30px;

			h1 {
				margin-top: 0;
				line-height: 1em;
			}

			p {
				margin: 0;
				font-weight: bold;
				font-size: 0.6em;
				opacity: 0.4;
			}
		}

		.click-row {
			display: flex;
			width: 100%;
		}

		.clicks.isSegment .layers,
		.clicks.isLayers .segment {
			display: none;
		}

		.click {
			margin: 5px;
			width: 100%;
			height: 20px;
			background-color: var(--dim);
			border-radius: 5px;

			&.on {
				background-color: var(--accent);
				transition: background-color 0.1s;
			}
		}

		.start-button {
			text-align: center;

			button {
				width: 300px;
				margin-top: 50px;
			}
		}
	}

	.settings-wrap {
		display: flex;
		align-items: center;

		&.side {
			flex-direction: column;
			padding: 2em 2em 2em 4em;
			padding-right: 2em;
			max-width: 500px;
		}

		&.bottom {
			grid-column-start: 1;
			grid-column-end: 3;
			padding: 2em;
			align-items: flex-end;
			justify-content: space-between;
		}

		.settings-title {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			margin-top: 2em;
		}

		.setting {
			display: flex;

			.range-wrap {
				width: 100%;
				height: 20px;
				background-color: var(--dim);
				border-radius: 5px;
				overflow: hidden;
				cursor: pointer;

				.inner-range {
					background-color: var(--accent);
					/* border-top-right-radius: 5px;
					border-bottom-right-radius: 5px; */
					height: 20px;
					transition: width 0.2s;

					&.moving {
						transition: width 0s;
					}
				}
			}

			&.layer {
				justify-content: space-between;
				width: 100%;

				.notes-wrap {
					display: flex;
					align-items: center;

					> :first-child {
						text-align: right;
					}

					> :last-child {
						text-align: left;
					}
				}
			}

			&.sound {
				flex-direction: column;
				width: 500px;
				margin-right: 2em;

				h4 {
					margin: 0.7em 2em 0.7em 0;
				}

				input[type='range'] {
					width: 80px;
					margin: 10px;
					padding: 5px;
				}

				> div {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
				}

				.sliders {
					width: 100%;
				}

				.css-waves {
					position: relative;
					width: 90px;
					height: 45px;
					cursor: pointer;

					svg {
						position: absolute;
						width: 100%;
						height: 100%;

						path {
							transition: all 0.3s;
						}
					}
				}
			}

			&.theme {
				.theme-preview {
					display: flex;
					padding: 5px 10px;
					margin: 10px 0;
					width: 100px;
					height: 20px;
					background-color: var(--background);
					border-radius: 20px;
					cursor: pointer;
					transition: all 0.2s;

					.tp-mini-click {
						background-color: var(--dim);
						width: 100%;
						margin: 5px 2px;
						border-radius: 3px;
						transition: all 0.2s;

						&.on {
							background-color: var(--accent);
						}
					}
				}
			}
		}

		.boxed {
			width: 100%;

			&.tempo {
				.immovable_wheel {
					line-height: 80px;
					font-size: 80px;
					height: 80px;
				}

				.setting {
					align-items: center;
					justify-content: space-between;
				}
			}
		}

		.octave-wrap {
			margin: 0 10px;
			display: grid;
			grid-template-columns: 10px 10px;
			grid-template-rows: 10px 10px;

			.octave {
				width: 8px;
				height: 8px;
				border-radius: 8px;
				background-color: var(--dim);
				transition: background-color 0.2s;

				&.on {
					background-color: var(--accent);
				}
			}
		}

		.add-layer {
			margin-top: 1em;
			text-align: center;
		}

		.other-settings {
			width: 320px;
			margin-right: 2em;

			.setting {
				align-items: center;
				justify-content: space-between;

				&.unlimited h4 {
					margin-bottom: 0;
				}
			}

			.debug,
			.unlimited {
				display: none;
			}
		}

		.immovable_wheel {
			overflow: hidden;
			user-select: none;
			line-height: 50px;
			font-size: 50px;
			height: 50px;

			.wheel {
				cursor: grab;
				touch-action: none;
				transition: transform 0.2s;

				div {
					user-select: none;
				}

				&.dragging {
					transition: transform 0s;
				}

				&.frequency {
					text-align: right;
				}
				&:active {
					cursor: grabbing;
				}
			}
		}

		/*
		PROFILE
		*/

		.profile-wrap {
			display: flex;
			flex-direction: column;

			.profile-bank {
				display: flex;
				flex-wrap: wrap;

				.profile {
					font-size: 16px;
					width: 200px;

					padding: 0.5em 1em;
					margin: 5px;
					max-width: 100px;
					background-color: var(--dim);
					border-radius: 10px;
					text-align: center;
					cursor: pointer;
					filter: brightness(0.5);

					&.selected {
						filter: brightness(1);
					}
				}
			}

			.profile-infos {
				.profile-theme-preview {
					width: 20px;
					height: 10px;
					border: 1px solid black;
				}

				p {
					margin: 0.5em;
					font-size: 20px;
					color: var(--accent);
				}
			}

			.profile-name {
				input {
					display: none;
					width: 100%;
					border: none;
					background: none;
					color: var(--accent);
					font-size: 16px;
				}
				&.edit {
					input {
						display: flex;
					}
					span {
						display: none;
					}
				}
			}

			.export {
				input {
					color: var(--accent);
					background: var(--dim);
					width: 130px;
					border: none;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					font-size: 16px;
					padding: 0.5em 1em;
				}

				span {
					font-size: 16px;
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					background: var(--dim);
					filter: brightness(1);
					padding: 0.5em 1em;
					cursor: pointer;

					&:hover {
						filter: brightness(0.8);
					}

					&.off {
						filter: brightness(1);
					}
				}
			}
		}
	}

	/*
	PERFORMANCE
	*/

	&.performance {
		button,
		.theme-preview > div,
		.theme-preview > div .tp-mini-click,
		.setting.sound .css-waves svg path,
		.setting .range-wrap .inner-range,
		.principal .click.on,
		.wheel {
			transition: none;
		}
	}

	/*
	MOBILE
	*/

	&.mobile {
		display: flex;
		flex-direction: column;

		.principal .sticky,
		.other-settings,
		.setting.boxed.sound,
		.setting.theme {
			width: 100%;
			padding: 0;
			margin: 0;
		}

		h3 {
			font-size: 22px;
		}

		h4 {
			font-size: 16px;
		}

		.title {
			h1 {
				font-size: 40px;
			}
			p {
				font-size: 16px;
			}
		}

		.settings-wrap {
			&.side {
				padding: 0 2em;
			}

			&.bottom {
				flex-direction: column;
			}

			.boxed.beats-notes,
			.setting.boxed.sound {
				margin-top: 1em;
			}

			.setting.sound .css-waves {
				width: 50px;
				height: 30px;
			}

			.range-wrap {
				height: 12px;
			}

			.other-settings,
			.setting.boxed.theme {
				margin-top: 3em;
			}

			.theme .theme-preview {
				justify-content: space-between;
			}
		}
	}
}
