
.App {
	text-align: center;
}

.App-logo {
	height: 20vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.title p {
	margin: 0;
	font-weight: bold;
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.8);
}

h1 {
	color: white;
	margin-bottom: 0;
}

.layers {
	margin: 2em;
	width: 80vw;
	max-width: 700px;
}

.clicks-wrap {
	display: flex;
	justify-content: space-between;
}

.click {
	margin: 5px;
	width: 100%;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.click.on {
	background-color: white;
}











@keyframes FillSegment {
	from {
		
	}
}


.segment-wrap {
	margin: 2em;
	display: flex;
	width: 80vw;
	max-width: 700px;
}

.segment-wrap.hidden {
	display: none;
}

.segment-child {
	background-color: rgba(0,0,0,.2);
	margin: 5px;
	height: 20px;
	border-radius: 5px;
	transition: all .1s;
}

.segment-child.on {
	/* transform: scale(1.05); */
	background-color: white;
}




.setting {
	display: flex;
	align-items: center;
}

button {
	padding: 10px 40px;
	margin: 0 20px;
	border: none;
	background: #455A64;
	border-radius: 2em;
	font-size: 16px;
	font-weight: bold;
	color: white;
	transition: all 0.2s;
	cursor: pointer;
}

button:hover {
	background: #35464e;
}

button:active {
	background:#222c31;
	color: #fffa;
}


.setting input {
	width: 60px;
	margin: 10px;
	padding: 5px;
	background-color: transparent;
	border: none;
	color: white;
	font-weight: bolder;
	font-size: 16px;
	text-align: center;
}

.setting input[type='range'] {
	width: 80px;
	margin: 10px;
	padding: 5px;
}

.setting select {
	padding: 5px;
	margin: 10px;
}

.layers-settings {
	border-radius: 1em;
	background-color: darkslategray;
	padding: 1em 0;
}

.layers-settings button {
	background-color: rgba(0, 0, 0, .2);
}

.layers-settings input:not(input[type="range"]) {
	font-size: 40px;
	width: 100px;
}

.layers-settings .add-layer {
	padding-top: 1em;
}

.setting.tempo {
	border-radius: 1em;
	background-color: darkslategrey;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 1em;
	margin: 2em;
}

.setting.tempo button {
	background-color: rgba(0, 0, 0, .2);
}

.setting.tempo input[type="number"] {
	font-size: 40px;
	width: 100px;
}

.global-settings {
	display: flex;
	flex-direction: column;
}

button.suppr-btn {
	background: 0;
	border: 0;
	color: white;
	font-size: 1em;
}

.note {
	font-size: 16px;
	width: 50px;
	font-weight: bold;
}

label {
	display: flex;
	flex-direction: column;
	max-width: 120px;
	padding: 1em;
}

label span {
	font-size: 16px;
	font-weight: bold;
}