:root {
	--accent: white;
	--background: #282c34;
	--dim: #00000033;
}

.App {
	background-color: var(--background);
	color: var(--accent);
	min-height: 100vh;
	display: grid;
	grid-template-columns: 65% 35%;
	grid-template-rows: 60% 40%;
	font-size: calc(10px + 2vmin);
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	user-select: none;
}

.App button {
	color: var(--accent);
	background: var(--dim);
	padding: 7px 30px;
	border: none;
	border-radius: 2em;
	font-size: 16px;
	font-weight: bold;
	transition: all 0.2s;
	cursor: pointer;
	outline: none;
}

.App button:hover {
	filter: brightness(0.8);
}

.App button:active {
	filter: brightness(0.6);
}

.App button.off {
	opacity: 0;
	cursor: initial;
}

.App .principal {
	display: flex;
	align-items: center;
	padding: 2em;
}

.App .principal .sticky {
	width: calc(100% - 4em);
}

.App .principal .title {
	margin: 1em 0;
	font-size: 30px;
}

.App .principal .title h1 {
	margin-top: 0;
	line-height: 1em;
}

.App .principal .title p {
	margin: 0;
	font-weight: bold;
	font-size: 0.6em;
	opacity: 0.4;
}

.App .principal .click-row {
	display: flex;
	width: 100%;
}

.App .principal .clicks.isSegment .layers,
.App .principal .clicks.isLayers .segment {
	display: none;
}

.App .principal .click {
	margin: 5px;
	width: 100%;
	height: 20px;
	background-color: var(--dim);
	border-radius: 5px;
}

.App .principal .click.on {
	background-color: var(--accent);
	transition: background-color 0.1s;
}

.App .principal .start-button {
	text-align: center;
}

.App .principal .start-button button {
	width: 300px;
	margin-top: 50px;
}

.App .settings-wrap {
	display: flex;
	align-items: center;
}

.App .settings-wrap.side {
	flex-direction: column;
	padding: 2em 2em 2em 4em;
	padding-right: 2em;
}

.App .settings-wrap.bottom {
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 2em;
	align-items: flex-end;
	justify-content: space-between;
}

.App h3 {
	margin-top: 0;
	font-size: 30px;
}

.App h4 {
	font-size: 20px;
	margin: 10px 0;
}

.App .setting {
	display: flex;
}

.App .boxed {
	width: 100%;
}

.App .settings-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-top: 2em;
}

.setting .range-wrap {
	width: 100%;
	height: 20px;
	background-color: var(--dim);
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}

.setting .range-wrap .inner-range {
	background-color: var(--accent);
	/* border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; */
	height: 20px;
	transition: all 0.2s;
}

.App .setting.layer {
	justify-content: space-between;
	width: 100%;
}

.App .setting.layer .notes-wrap {
	display: flex;
}

.App .setting.layer .notes-wrap > :first-child {
	text-align: right;
}

.App .setting.layer .notes-wrap > :last-child {
	text-align: left;
}

.App .setting input {
	width: 60px;
	margin: 10px;
	padding: 5px;
	background-color: transparent;
	border: none;
	color: white;
	font-weight: bolder;
	font-size: 16px;
	text-align: center;
}

.App .setting input[type='range'] {
	width: 80px;
	margin: 10px;
	padding: 5px;
}

.App .setting.sound {
	flex-direction: column;
	width: 500px;
	margin-right: 2em;
}

.App .setting.sound .sliders {
	width: 100%;
}

.App .setting.sound h4 {
	margin: 0.7em 2em 0.7em 0;
}

.App .setting.sound > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.App .setting select {
	padding: 5px;
	margin: 10px;
}

.App .setting.sound .css-waves {
	position: relative;
	width: 90px;
	height: 45px;
	cursor: pointer;
}

.App .setting.sound .css-waves svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.App .setting.sound .css-waves svg path {
	transition: all 0.3s;
}

.App .setting.sound .display {
	margin-top: 1em;
}

.App .boxed .add-layer {
	margin-top: 1em;
	text-align: center;
}

.App .layers-settings button {
	background-color: rgba(0, 0, 0, 0.2);
}

.App .layers-settings input:not(input[type='range']) {
	font-size: 40px;
	width: 100px;
}

.App .layers-settings .add-layer {
	padding-top: 1em;
}

.App .global-settings {
	display: flex;
	flex-direction: column;
}

.App button.suppr-btn {
	background: 0;
	border: 0;
	color: var(--accent);
	font-size: 1em;
	padding: 10px;
}

.App .note {
	font-size: 16px;
	width: 50px;
	font-weight: bold;
}

.App .other-settings {
	width: 320px;
	margin-right: 2em;
}

.App .other-settings .setting {
	align-items: center;
	justify-content: space-between;
}

.App .setting.unlimited h4 {
	margin-bottom: 0;
}

.App small {
	display: none;
	margin-top: -1em;
	font-size: 0.4em;
}

.setting.theme {
	flex-direction: column;
	width: 320px;
}

.theme-preview {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.theme-preview > div {
	display: flex;
	padding: 2px 5px;
	margin: 10px;
	width: 100px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s;
}

.theme-preview > div .tp-mini-click {
	width: 100%;
	margin: 5px 2px;
	border-radius: 3px;
	transition: all 0.2s;
}

.App .immovable_wheel {
	overflow: hidden;
	user-select: none;
	line-height: 40px;
	font-size: 40px;
	height: 40px;
}

.App .wheel {
	cursor: grab;
	touch-action: none;
}

.App .wheel.frequency {
	text-align: right;
}

.App .wheel:active {
	cursor: grabbing;
}

.App .wheel div {
	user-select: none;
}
