:root {
	--accent: white;
	--background: #282c34;
	--dim: #ebe9e933;
	--dimmer: #ebe9e911;
	--buttons: #ebe9e933;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;900&display=swap');

body {
	margin: 0;
	background-color: var(--background);
	transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1);
}

button,
body,
input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
}

.polytronome {
	color: var(--accent);
	min-height: 100vh;
	display: flex;
	justify-content: space-evenly;
	margin: auto;

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	button {
		color: var(--accent);
		background: var(--buttons);

		padding: 7px 30px;
		border: none;
		border-radius: 2em;
		font-size: 16px;
		font-weight: 700;
		transition: filter 0.2s;
		cursor: pointer;
		outline: none;

		&:hover:not(.off) {
			filter: brightness(0.9);
			background: var(--buttons);
		}

		&:active:not(.off) {
			filter: brightness(0.7);
			background: var(--buttons);
		}

		&.off {
			opacity: 0;
			cursor: initial;
		}

		&.suppr-btn {
			background: 0;
			border: 0;
			color: var(--accent);
			font-size: 1em;
			padding: 10px;
		}
	}

	.immovable_wheel {
		overflow: hidden;
		user-select: none;
		line-height: 50px;
		font-size: 50px;
		height: 50px;
		padding: 2px 10px;
		border-radius: 10px;
		text-align: center;
		transition: background-color 0.2s;

		&:hover {
			background-color: var(--dimmer);
		}

		.wheel {
			cursor: grab;
			touch-action: none;
			transition: transform 0.2s;

			div {
				user-select: none;
			}

			&.dragging {
				transition: transform 0s;
			}

			&:active {
				cursor: grabbing;
			}
		}
	}

	.title {
		margin: 1em 0;
		font-size: 30px;

		h1 {
			margin-top: 0;
			line-height: 1em;
			font-weight: 800;
		}

		p {
			margin: 0;
			font-weight: bold;
			font-size: 0.6em;
			opacity: 0.4;
			text-align: end;
			margin-bottom: -10px;
			font-weight: 800;
		}
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 1000px;

	button {
		width: 80px;
		margin: 5px 5px 0 0;

		&.off {
			opacity: 0.5;
		}
	}

	.clicks {
		width: 100%;
		height: 120px;
		display: flex;
		align-items: center;
		transition: opacity 0.12s;

		.segment,
		.layers {
			width: 100%;
		}
	}

	.click-row {
		display: flex;
		width: 100%;
	}

	.click {
		margin: 5px;
		width: 100%;
		height: 20px;
		background-color: var(--dim);
		border-radius: 5px;

		&.on {
			background-color: var(--accent);
			transition: background-color 0.1s;
		}
	}

	// New Layer Settings

	.layers-table-wrap {
		display: flex;
		align-items: center;
	}

	.layers-table {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 100px 0;

		&:hover {
			.ls-row:not(.ls-labels) {
				opacity: 0.6;

				&:hover {
					opacity: 1;
				}
			}
		}

		> :last-child {
			background-color: transparent;
		}

		.ls-row {
			padding: 10px 30px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			transition: opacity 0.2s;

			> div {
				margin: 0 10px;
				width: 180px;
				text-align: center;
			}

			&.ls-labels {
				height: 50px;
				opacity: 0.3;
				font-size: 12px;
			}
		}

		.css-waves {
			position: relative;
			width: 100%;
			height: 30px;

			svg {
				position: absolute;
				width: 100%;
				height: 100%;
				cursor: pointer;
				top: 0;
				left: 0;
			}
		}

		.woodblocks {
			cursor: pointer;
			> div {
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 15px;
				margin: 2px;
				border-radius: 5px;
				background-color: var(--dim);

				transition: background-color 0.2s;

				&.on {
					background-color: var(--accent);
				}
			}
		}

		.notes-wrap {
			display: flex;
			align-items: center;
			justify-content: center;

			.immovable_wheel {
				text-align: left;
			}

			.octave-wrap {
				display: flex;
				flex-direction: column;
				margin-right: 10px;

				.octave {
					width: 8px;
					height: 8px;
					border-radius: 8px;
					margin: 1px;
					opacity: 0.6;
					background-color: var(--dim);
					transition: background-color 0.2s;

					&.on {
						background-color: var(--accent);
					}
				}
			}

			.note-length {
				display: inline-flex;
				flex-direction: column;

				button {
					width: auto;
					font-size: 12px;
					padding: 2px 10px;
					text-align: left;
					opacity: 0.5;
					background-color: transparent;

					&:hover {
						opacity: 1;
						background-color: var(--buttons);
					}

					&.on {
						background-color: var(--buttons);
					}
				}
			}
		}

		.range-wrap {
			display: inline-block;
			width: 100px;
			height: 15px;
			background-color: var(--dim);
			border-radius: 5px;
			overflow: hidden;
			cursor: grab;
			user-select: none;

			&:focus,
			&:active {
				cursor: grabbing;
			}

			.inner-range {
				background-color: var(--accent);
				height: 20px;
				transition: width 0.2s;

				&.moving {
					transition: width 0s;
				}
			}
		}
	}

	.tempo-n-start {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		align-items: center;
	}

	.start-button {
		text-align: center;

		button {
			width: 300px;
		}
	}

	.tempo {
		display: flex;

		.immovable_wheel {
			line-height: 80px;
			font-size: 80px;
			height: 80px;
			margin-right: 20px;
		}

		.tap {
			width: 120px;
		}

		.tempo-buttons {
			display: flex;
		}
	}

	.bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;
		margin-top: 10em;
		font-size: 12px;

		.links {
			display: flex;
			flex-direction: column;
		}
		a {
			font-size: 12px;
			color: var(--accent);
			opacity: 0.5;
			text-decoration: none;
			margin: 0.5em 1em;

			&:hover {
				opacity: 1;
			}
		}

		.more-settings {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			text-align: right;

			button {
				background-color: transparent;
				width: auto;
				font-size: 12px;
				transition: background-color 0.2s;

				&.on,
				&[name='themes']:hover {
					background-color: var(--dim);
				}
			}
		}
	}

	/*
	EASY MODE
	*/

	&.easy {
		.layers-table-wrap {
			.layers-table {
				flex-direction: row;
			}

			.ls-row {
				padding: 10px;

				&.ls-labels {
					height: auto;
					> div {
						width: auto;
					}
				}

				.immovable_wheel {
					width: 80px;
					margin: 0;
				}
			}
		}

		.ls-buttons {
			width: auto;
			margin-left: 30px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;

			.randomize {
				width: 120px;
			}
		}
	}

	/*
	PERFORMANCE
	*/

	&.performance {
		button,
		.clicks,
		.theme-preview > div,
		.theme-preview > div .tp-mini-click,
		.setting.sound .css-waves svg path,
		.setting .range-wrap .inner-range,
		.click.on,
		.wheel {
			transition: none;
		}
	}

	/*
	MOBILE
	*/

	&.mobile {
	}
}
