@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');


body {
	margin: 0;
}

button,
body, input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Work Sans',
	sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
