$easing: cubic-bezier(0.19, 1, 0.22, 1);

body,
body:fullscreen::backdrop {
	margin: 0;
	background-color: var(--background);
	transition-timing-function: $easing;
	transition: background-color 0.2s $easing;
}

button,
body,
input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Dosis', Arial, Helvetica, sans-serif;
	line-height: 1em;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 1.2px;
}

.polytronome {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	color: var(--accent);
	user-select: none;
	overflow: hidden;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 1s $easing, color 1s $easing;

	@import 'header';
	@import 'clicks';
	@import 'layers';
	@import 'tempo';
	@import 'menu';
	@import 'tutorial';

	.spacer {
		min-width: 200px;
	}

	main {
		display: grid;
		grid-template-areas: 'header tempo' 'clicks clicks' 'layers layers' 'buttons buttons';
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding-top: 10vh;
	}

	.header {
		grid-area: header;
	}

	.tempo {
		grid-area: tempo;
	}

	.clicks {
		grid-area: clicks;
	}

	.layers-table {
		grid-area: layers;
	}

	.bottom-buttons {
		grid-area: buttons;
	}

	a,
	button {
		color: var(--accent);
		background: var(--buttons);
		width: auto;
		margin: 0.2em;
		padding: 0.5em 2em;
		border: 2px solid transparent;
		border-radius: 2em;
		font-size: 1em;
		font-weight: 600;
		white-space: pre;
		cursor: pointer;
		transition: background-color 0.2s $easing, color 0.3s $easing, border 0.2s $easing;

		svg {
			width: 1em;
			height: 1em;
			vertical-align: text-bottom;
		}

		&:active {
			background-color: var(--clicks-off);
		}

		&:hover {
			border: 2px solid var(--clicks-off);
		}
	}

	.immovable_wheel {
		position: relative;
		overflow: hidden;
		padding-top: 0.1em;
		padding-bottom: 0.1em;
		padding-right: 0.2em;
		padding-left: 0.8em;
		border-radius: 0.3em;
		transition: opacity 0.5s $easing, background-color 0.5s $easing;

		font-size: 3em;
		line-height: 1.2em;
		height: 1em;

		&:hover {
			background-color: var(--buttons);
		}

		p {
			margin: 0;
			font-weight: 500;
			font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
		}

		.arrows {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: -0.6em;
			height: 1em;
			z-index: 2;

			div {
				display: flex;
				width: 0.35em;
				text-align: center;
				cursor: pointer;
				opacity: 0.2;
				transition: opacity 0.5s $easing;

				&:first-child {
					transform: rotate(180deg);
				}

				&:hover {
					opacity: 0.5;
				}

				&:focus,
				&:active {
					opacity: 1;
				}

				svg {
					path {
						transition: stroke 1s $easing;
					}
				}
			}
		}

		.wheel {
			cursor: grab;
			touch-action: none;
			text-align: center;
			margin-top: -0.1em;
		}
	}

	.bottom-buttons,
	.bottom-buttons button {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.bottom-buttons {
		svg {
			margin-right: 1em;
		}

		.start {
			width: 22em;
		}
	}

	/*
	KEYLOG
	*/

	.keylog {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		bottom: 2em;
		right: 2em;
		text-align: right;
		z-index: 7;

		code {
			background-color: var(--dim);
			border-radius: 20px;
			padding: 2px 10px;
			margin-left: 20px;
		}

		small {
			margin: 5px;
		}
	}

	/*
	EASY MODE
	*/

	&.easy {
		main {
			padding-top: 15vh;
		}

		.header {
			margin-bottom: 4em;
		}

		.layers-table {
			flex-direction: row;
			margin: 4em 0;
			margin-left: 0;
			width: auto;
		}

		.ls-row {
			background-color: transparent;
			padding: 0px;

			.immovable_wheel {
				width: 1.6em;
			}
		}
	}

	/*
	PERFORMANCE
	*/

	&.performance {
		transition: opacity 1s;
	}

	&.performance * {
		transition: none !important;
	}
}

@import 'responsive';
