.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2em;
	width: 100%;

	.logo {
		display: flex;
		align-items: center;
		height: 4em;

		svg {
			transform: scale(0.8);
			margin-right: 10px;
		}

		h1 {
			margin: 0;
			font-size: 2.2em;
			line-height: 1em;
			color: var(--clicks-on);
		}

		p {
			font-size: 1em;
			margin: 0;
		}
	}

	/*
	TUTORIAL
	*/

	.tutorial {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		height: 8em;
		padding: 0 2em;
		border-radius: 20px;
		min-width: 20em;
		background-color: var(--menu);
		z-index: 3;

		.dialog {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-right: 2em;
			max-width: 16em;
		}

		.interactions {
			display: flex;
			flex-direction: column;
		}
	}

	/*
	TEMPO
	*/

	.tempo {
		display: flex;
		align-items: center;
		z-index: 2;

		.immovable_wheel {
			margin-right: 0.5em;
		}

		.tap {
			width: 120px;
			margin: 0%;
		}

		.tempo-buttons {
			display: flex;
		}
	}
}
