.layers-table {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 2em 0;

	.ls-row {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--layers);
		border: 2px solid transparent;
		justify-content: space-evenly;
		border-radius: 20px;
		padding: 1em;
		margin: 1em;
		transition: opacity 1s $easing, filter 1s $easing, background-color 1s $easing;

		> div {
			margin: 0.6em;
		}

		&.selected {
			border: 2px solid var(--accent);
		}

		&.off {
			opacity: 0.4;

			.ls-note,
			.ls-type,
			.ls-effects,
			.ls-volume {
				opacity: 0;
				cursor: default;
				pointer-events: none;
				transition: opacity 0.4s $easing;
			}
		}
	}

	.ls-type {
		min-width: 8em;
		text-align: center;

		svg {
			width: 4em;
			height: 4em;
			padding: 0 1.2em;
			border-radius: 12px;
			transition: background-color 0.3s;
			cursor: pointer;

			path {
				stroke: var(--accent);
				transition: stroke 1s $easing;
			}

			&:hover {
				background-color: var(--buttons);
			}

			&:active {
				background-color: var(--dim);
			}
		}
	}

	.notes-wrap {
		display: flex;
		align-items: center;
		position: relative;

		pre.octave {
			position: absolute;
			margin: 0;
			right: -0.5em;
			bottom: -0.3em;
			padding: 0.2em 0.5em;
			border-radius: 0.5em;
			background-color: transparent;
			transition: background-color 0.2s $easing;
		}

		&:hover pre.octave {
			background-color: var(--layers);
		}

		.immovable_wheel {
			text-align: left;
		}
	}

	.ls-effects {
		text-align: center;

		svg {
			width: 1em;
			margin-right: 0.8em;
		}

		button {
			margin: 0.2em;
			padding: 0.2em 1em;
			text-align: left;
			background-color: transparent;

			&:hover {
				border-color: transparent;
				background-color: var(--buttons);
			}

			&:active {
				border-color: transparent;
				background-color: var(--dim);
			}
		}
	}

	.ls-volume {
		display: flex;
		align-items: center;

		.mute {
			width: 1em;
			padding-right: 0.8em;
			cursor: pointer;

			svg {
				width: 1.2em;
				height: 1.2em;
			}
		}

		.range-wrap {
			display: inline-block;
			width: 5em;
			height: 0.8em;
			border-radius: 5px;
			overflow: hidden;
			user-select: none;
			cursor: pointer;
			background-color: var(--buttons);
			transition: opacity 0.3s $easing, background-color 1s $easing;

			&.muted {
				opacity: 0.1;
				filter: grayscale(1);
			}

			.inner-range {
				height: 0.8em;
				background-color: var(--accent);
				transition: background-color 1s $easing;
			}
		}
	}
}
