.menu {
	padding-top: 10vh;
}

.menu > button {
	margin-left: 2em;
	margin-bottom: 2em;

	svg {
		margin-right: 1em;
		vertical-align: bottom;
	}
}

aside {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0 6em 0 2em;
	width: 25em;
	transition: width 0.6s $easing, opacity 0.6s $easing;

	hr {
		opacity: 0;
		height: 2em;
	}

	a {
		transition: opacity 0.6s $easing;
	}

	a,
	button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: left;
		overflow: hidden;
		font-size: 1.1em;
		padding-left: 1em;
		padding-right: 1em;
		text-decoration: none;
		background-color: transparent;

		.option-icon {
			width: 2em;
			display: inline-block;
			text-align: center;
			line-height: 1.8em;
		}

		.option-text {
			margin-left: 0.5em;
		}

		p {
			margin: 0;
		}
	}

	button {
		.optionState {
			border-radius: 0.5em;
			padding: 0.3em 0.6em;
			background-color: rgba(0, 0, 0, 0.04);
		}

		&.on {
			.optionState {
				background-color: var(--buttons);
			}
		}
	}

	.theme-list {
		display: flex;
		flex-wrap: wrap;
		max-height: 0;
		margin: 0 2em;
		overflow: hidden;
		transition: width 0.3s, margin 0.3s, max-height 0.3s;

		span {
			width: auto;
			margin: 0.2em;
			font-size: 1em;
			padding: 0.5em 1em;
			border-radius: 15px;
			cursor: pointer;
			overflow: hidden;
			transition: filter 0.1s, border-radius 0.3s;

			&:hover {
				filter: brightness(0.9);
			}
		}

		&.opened {
			max-height: 7em;
			margin: 2em;
		}
	}

	&.closed {
		width: 5.2em;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}

		a {
			opacity: 0;
			cursor: default;
			pointer-events: none;
		}

		button {
			&.on {
				background-color: var(--buttons);
			}
		}
	}
}
